* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------------------------making navbar-------------------------- */
#navbar::before {
    content: "";
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#navbar {
    position: sticky;
    top: 0px;
    /* border: 2px solid blue; */
    height: auto;
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar .box1 {
    /* border: 2px solid rebeccapurple; */
    height: auto;
}

#navbar .box1 img {
    margin-top: 5px;
    margin-left: 5px;
    height: 45px;
    width: 45px;
    padding-left: 2px;
    padding-top: 2px;
}

#navbar .box2 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    padding-left: 50px;
}

#navbar ul li a {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 0px 15px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

/* -------------------------navbar making end------------------------- */
/* -------------------------navbar section making--------------------- */
#navbar-section::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 557px;
    ;
    width: 100%;
    background: url(/bakery/navbar-section.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.95;
}

#navbar-section {
    display: flex;
    height: auto;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar-section .item {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#navbar-section .item h1 {
    font-size: 3.0rem;
    text-shadow: 2px 2px 1px black;
}

#navbar-section .item p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px black;
}

/* -------------------------navbar section making end--------------------- */
/* -------------------------services section--------------------- */
.serviceh1 {
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

#services {
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}

#services #box {
    border: 2px solid rgb(49, 147, 238);
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #8080802e;
}

#services .box1 img {
    padding-top: 15px;
    height: auto;
    width: 100%
}

#services .box1 p {
    text-align: center;
    padding-bottom: 5px;
}

#services .box2 img {
    height: auto;
    width: 100%
}

#services .box2 p {
    text-align: center;
    padding-bottom: 12px;
}

#services .box3 img {
    height: auto;
    width: 100%
}

#services .box3 p {
    text-align: center;
    padding-bottom: 20px;
}



#services2 {
    /* border: 2px solid red; */
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}

#services2 #box {
    border: 2px solid rgb(49, 147, 238);
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #8080802e;
}
#services2 .box4 img {
    height: auto;
    width: 56%
}

#services2 .box4 p {
    text-align: center;
    padding-bottom: 20px;
}

#services2 .box5 img {
    height: auto;
    width: 100%;
    margin-right: 70px;
}

#services2 .box5 p {
    text-align: center;
    padding-bottom: 5px;
}

#services2 .box6 img {
    height: auto;
    width: 100%;
}

#services2 .box6 p {
    text-align: center;
    padding-bottom: 2px;
}
#services3 {
    /* border: 2px solid red; */
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}

#services3 #box {
    border: 2px solid rgb(49, 147, 238);
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #8080802e;
}

#services3 .box7 img {
    height: auto;
    width: 100%;
}

#services3 .box7 p {
    text-align: center;
    padding-bottom: 90px;
}

#services3 .box8 img {
    height: auto;
    width: 85%;
}

#services3 .box8 p {
    text-align: center;

}

#services3 .box8 h2 {
    margin-top: 37px;
}
#services3 .box9 img {
    height: auto;
    width: 85%;
}

#services3 .box9 p {
    text-align: center;

}

#services3 .box9 h2 {
    margin-top: 37px;
}

/* -------------------------services section end--------------------- */
/* ---------------------Clients section make------------------------ */
.clients {
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

#clients-section::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url(/bakery/clients.jpg) no-repeat center center/cover;
    opacity: 0.2;
    z-index: 1;
}

#clients-section {
    position: relative;
    /* border: 2px solid red; */
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients-section .imgc img {
    height: auto;
    width: 100%;
}

/* ---------------------Clients section end------------------------ */
/* ---------------------friendly environment make-------------------- */
#friendly h1 {
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.0rem;
}

#friendly img {
    height: auto;
    width: 100%;
}

/* ----------------friendly environment end--------------------- */
/* ---------------Wednesday special make---------------- */
#off {
    /* border: 2px solid red; */
    margin-top: 1px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8080804d;
}

#off #offer {
    /* border: 2px solid blue; */
    height: auto;
    width: 100%;    
}

#off .pic img {
    height: auto;
    width: 100%;
    padding-left: 5px;
}

#off .topic h1 {
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Baloo Bhai 2', cursive;
    color: rgb(49, 147, 238);
}
.change-content:after{
    content: '';
    animation : changetext 15s infinite;
}
@keyframes changetext{
    0% {content: "Wednesday 20% off";}
    20% {content: "Thursday 35% off";}
    40% {content: "Sunday 10% off";}
    60% {content: "Saturday 40% off";}
    80% {content: "Monday 15% off";}
    100% {content: "Tuesday 50% off";}
}

#off .topic p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}

/* ---------------Wednesday special end---------------- */
/* ---------------------feedback form-------------------- */
#text {
    /* border: 2px solid red; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
    background: url(/bakery/feedback.jpg) no-repeat center center/cover;
}

#text .feedback {
    color: rgb(49, 147, 238);
}

#text .formgroup {
    font-size: 1.3rem;
}

#text form button {
    font-size: 1.2rem;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
}

#text form button:hover {
    background-color: rgb(158, 158, 158);
    border: 2px solid white;
    color: white;
}

#text .formgroup input {
    font-size: 1.1rem;
}

/* ------------------- footer------------------- */
footer {
    background-color: black;
    margin-top: 1px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

footer .icon img {
    padding: 4px;
}
/* ---------------------footer end--------------------- */
.end{    
    height: 1px;
    background-color: white;
}
